body, html {
  
  /* The image used */
  
   /* Full height */
   height: 100%;
  margin: 0;
  user-select: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

#parent 
{
  display: table;
  position: fixed;
  top: 12.5%;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  z-index: 3;
}

#child {
  display: table-cell;
}

#center-all-browsers {
  margin-left: auto;
  margin-right: auto;
  /*whatever width you want*/
}
  
  @media only screen and (max-width: 767px) {
    .img-size
    {
      max-width: 120px;
      margin-bottom: 20px;
    }

    #traliccio
    {
      height: 0%;
    }

    .descrizione_agenzia
    {
      font-size: 17px;
      margin: 0;
    }

    #link_agenzia
    {
      font-size: 14px;  
    }

    #link_instagram
    {
      text-decoration: none;
      color: #ED008C;
      font-size: 14px;
    }
    
  }

  @media only screen and (min-width: 768px) {
    .img-size
    {
      width: 170px;
      margin-bottom: 20px;
    }

    #traliccio
    {
      height: 20%;
      
    }
    
    .descrizione_agenzia
    {
      font-size: 20px;
      margin: 0;
    }

    #link_agenzia
    {
      font-size: 12px;  
    }

    #link_instagram
    {
      text-decoration: none;
      color: #ED008C;
      font-size: 12px;
    }

  }

  @media only screen and (min-width: 993px) {
    .img-size
    {
      width: 170px;
      margin-bottom: 20px;
    }
  
    #traliccio
    {
      height: 25%;
    }
    
    .descrizione_agenzia
    {
      font-size: 20px;
      margin: 0;
    }

    #link_agenzia
    {
      font-size: 12px;  
    }

    #link_instagram
    {
      text-decoration: none;
      color: #ED008C;
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 1300px) 
  {
    #traliccio
    {
      height: 22%;
    }
  }

  @media only screen and (max-width: 1050px) 
  {
    #traliccio
    {
      height: 20%;
    }
  }

  @media only screen and (max-width: 850px) 
  {
    #traliccio
    {
      height: 15%;
    }
  }



  #left-pink-circle
  {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #ED008C;
    top: 10%;
    position: fixed;
    z-index: 1;
    left: -150px;
  }

  #right-pink-circle
  {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #ED008C;
    top: -100px;
    position: fixed;
    z-index: 3;
    right: -100px;
  }

  .imposta_testo
  {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: lighter;
    letter-spacing: 3px;
  }

  #nome_agenzia
  {
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
  }

  #link_agenzia a
  {
    text-decoration: none;
    color: black;
  }

  #link_agenzia :hover
  {
    color: white !important;
  }

#particles-js canvas {
  display: block;
  
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: auto; /* or block, swap, fallback, optional */
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(Montserrat.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

#traliccio
{
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
  bottom: 0px;
}

#pink_instagram
{
  color: #ED008C;
}

#link_instagram:hover
{
  color: white !important;
}

#main_line
{
  margin-top: 20px;
  margin-bottom: 4px;
}

#center_svg
{
  text-align: center;
}